* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 12px;
}

body {
    height: 100vh;
    background-color: rgb(24, 24, 24);
    overflow: hidden;
}

.navbar {
    background-color: rgba(91, 12, 12, 0.719);
    position: absolute;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

div.info {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    height: 100%;
    width: fit-content;
    display: grid;
    place-items: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 15px;
}

div.search {
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input.search {
    width: 100%;
    max-width: 350px;
    height: 30px;
    padding: 15px;
    border-radius: 15px 0px 0px 15px;
    border: none;
    margin-right: 0;
}

button.search {
    height: 30px;
    border: none;
    padding: 5px 15px 5px 15px;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

button.search:hover {
    background-color: rgb(193, 193, 193);
}

button.search:active {
    padding-top: 7px;
}

div.request-details {
    /* position: absolute;
    right: 0;
    top: 0; */
    height: 100%;
    padding: 15px;
    display: grid;
    place-items: center;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

div.request-details:hover {
    text-shadow: 0px 0px 15px white;
}

div.filter-row{
    position: absolute;
    top: 70px;
    padding: 10px;
    width: 200vw;
    background-color: rgba(91, 12, 12, 0.719);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: flex;
    gap: 10px;
}

label {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select {
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.video-grid {
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 120px;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    place-items: center;
    gap: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

div.card {
    max-width: 320px;
}
img.thumbnail {
    width: 320px;
    height: 180px;
}
div.content {
    display: flex;
}

div.channel-profile {
    padding: 10px 5px 10px 5px;
}

div.channel-logo {
    border-radius: 100%;
    background-color: rgb(57, 85, 85);
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    cursor: pointer;
}

div.title {
    word-wrap: break-word;
}

div.video-info,
div.title,
div.channel-title,
a.channel-title,
div.published-at {
    font-size: 14px;
    padding: 3px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

div.channel-title,
a.channel-title,
div.published-at {
    font-size: 12px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: inherit;
}

div.overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    display: grid;
    place-items: center;
    padding: 20px;
}

div.wrapper{
    width: 80%;
    max-width: 600px;
    height: 80%;
    max-height: 600px;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 24px -5px black;
    display: flex;
    flex-direction: column;
    place-items: center;
}

div.wrapper > div.title{
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 20px
}

div.api-input{
    width: 100%;
    padding: 20px;
}

input.api-input{
    width: 100%;
    font-size: 20px;
    padding: 5px 15px 5px 15px;
}
div.api-status{
    padding: 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
button.api-submit{
    width: 20%;
    min-width: 50px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    padding: 10px;
    cursor: pointer;
}